

  <div class="jumbotron">
    <h1> Extreme Collaborative Editor Demo </h1>
    <p>Welcome to the MSET Demo </p>
    <ul>
      <li><a href="/collabed/editor.html">Play with sandbox editor </a></li>
      <% if (loggedIn) {%>
      <li><a href="/editor">Edit your document</a></li>
      <li><a href="/profile">See your profile </a></li>
      <li><a href="/profiles">See everyone's profile</a></li>
      <% } %>
    </ul>
  </div>
