

  <div class="jumbotron">
    <h1> Extreme Collaborative Editor Demo </h1>
    <p>Welcome to the MSET Demo </p>
    Enter a file name to edit:
    <form method="post" action="editor">
      filename: <input type="text" name="file" >
      </form>
  </div>
